---
layout: default
format: frontpage
header:
  image_fullwidth: panoramas/singapore1.jpg
  caption: index.header.caption
---
<div id="header-home">
    <div class="row">
        <div class="small-12 columns">
        </div><!-- /.medium-4.columns -->
    </div><!-- /.row -->
</div><!-- /#header-home -->


<div class="row t60">
    <div class="medium-4 columns frontpage-widget">
        <a href="{% tl expat_guide %}">
            <img src="{{ site.baseurl_root }}/images/widget-1-302x182.jpg" alt="" />
        </a>
        <h2 class="font-size-h3 t10">{% t index.expatguide.title %}</h2>
        <p>{% t index.expatguide.description %}</p>
        <p><a class="button tiny radius" href="{% tl expat_guide %}">{% t global.more %}</a></p>
    </div>

    <div class="medium-4 columns frontpage-widget">
        <a href="/blog">
            <img src="{{ site.baseurl_root }}/images/widget-github-303x182.jpg" alt="" />
        </a>
        <h2 class="font-size-h3 t10">{% t index.blog.title %}</h2>
        <p>{% t index.blog.description %}</p>
        <p><a class="button tiny radius" href="/blog">{% t global.more %}</a></p>
    </div>

    <div class="medium-4 columns frontpage-widget">
        <a href="/services">
            <img src="{{ site.baseurl_root }}/images/widget-1-302x182.jpg" alt="" />
        </a>
        <h2 class="font-size-h3 t10">{% t index.services.title %}</h2>
        <p>{% t index.services.description %}</p>
        <p><a class="button tiny radius" href="/services">{% t global.more %}</a></p>
    </div>
</div><!-- /.row -->



<!-- Call for action -->
{% if page.callforaction %}
    <div class="row t60 b60">
        <div class="small-12 text-center columns">
            <a class="button large radius alert" href="https://tinyletter.com/feeling-responsive">{% t index.callforaction.text %}</a>
        </div><!-- /.small-12.columns -->
    </div><!-- /.row -->
{% endif %}



{% comment %}
*
* First check, if there are any posts at all
*
{% endcomment %}

{% unless site.posts == empty %}
    <div class="row t30 b20 homepage">
        <div class="small-12 columns">
            {% for post in site.posts limit:1 %}
            {% if post.image.homepage %}
            <p>
                <a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}" title="{{ post.title | escape_once }}"><img width="970" src="{{ site.urlimg }}{{ post.image.homepage }}" alt="{{ page.title | escape_once }}"></a>
            </p>

            {% if post.image.caption_url and post.image.caption %}
            <p class="text-right caption">
                <a href="{{ post.image.caption_url }}">{{ post.image.caption }}</a>
            </p>
            {% endif %}
            {% else post.image.homepage == NULL %}
            <h2>{% t global.new_blog_entries %}</h2>
            {% endif %}
            {% endfor %}
        </div><!-- /.small-12.columns -->
    </div><!-- /.row -->


    <div class="row">
        <div class="medium-6 columns">
            {% for post in site.posts limit:1 %}
            {% if post.subheadline %}<p class="subheadline">{{ post.subheadline }}</p>{% endif %}
            <h2><a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
            <p>
                {% if post.meta_description %}{{ post.meta_description | strip_html | escape }}{% else post.teaser %}{{ post.teaser | strip_html | escape }}{% endif %}
                <a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}" title="Read {{ post.title | escape_once }}"><strong>{% t global.read_more %}</strong></a>
            </p>
            {% endfor %}
        </div><!-- /.medium-5.columns -->


        <div class="medium-6 columns">
            <p><strong>{% t global.more_articles %}</strong></p>
            {% include list-posts entries='3' offset='1' %}
        </div><!-- /.medium-7.columns -->
    </div><!-- /.row -->
{% endunless %}
