{% comment %}
*
*  Navigation top bar
*
{% endcomment %}
<div id="navigation" class="sticky">
  <nav class="top-bar" role="navigation" data-topbar>
    <ul class="title-area">
      <li class="name">
      <h1 class="show-for-small-only"><a href="{{ site.url }}{{ site.baseurl }}" class="icon-tree"> {% t global.title %}</a></h1>
    </li>
       <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
      <li class="toggle-topbar menu-icon"><a href="#"><span>Nav</span></a></li>
    </ul>
    <section class="top-bar-section">
      
      <!-- navigation links to align right -->
      <ul class="right">
        <!-- Examples of navigation links: -->
        <!-- -> Without dropdown -->

        <li class="divider"></li>
        <li class="has-dropdown{% if link_url == page.url %} active{% endif %}">
          <a class="active" href="#">{{ site.languageNames[site.lang] }}</a>
          <ul class="dropdown">
          {% for lang in site.languageNames %}
            {% if lang[0] == site.lang %} {% continue %} {% endif %}
            {% if page.namespace %}
              <li>
                <a href="{% tl {{ page.namespace }} {{ lang[0] }} {{ page.url }} %}">{{ lang[1] }}</a>
              </li>
            {% else %}
              <li>
                <a href="/{{ lang[0] }}{{ page.url }}">{{ lang[1] }}</a>
              </li>
            {% endif %}
          {% endfor %}
          </ul>
        </li>
        <li>
          
        </li>
        
        <!-- <li class="divider"></li>
        {% assign link_url = "/search/" %}
        <li{% if link_url == page.url %} class="active"{% elsif page.homepage == true and link_url == '/' %} class="active"{% endif %}>
          <a href="{{ domain }}{{ site.baseurl | append: '/search/' }}">Search</a>
        </li> -->

        <!-- -> With dropdown -->
        <!-- <li class="divider"></li>
        {% assign link_url = "/contact/" %}
        <li class="has-dropdown{% if link_url == page.url %} active{% endif %}">
          <a href="{{ domain }}{{ site.baseurl }}{{ link_url }}">Contact</a>
            <ul class="dropdown">
              <li>
                <a href="{{ domain }}{{ site.baseurl | append: '/contact1/' }}">Contact 1</a>
              </li>
              <li>
                <a href="{{ domain }}{{ site.baseurl  | append: '/contact2/' }}">Contact 2</a>
              </li>
            </ul>
        </li> -->
      </ul>

      <!-- navigation links to align left -->
      <ul class="left">
        <!-- -> Without dropdown -->
        {% assign link_url = "/blog/" %}
        <li{% if link_url == page.url %} class="active"{% elsif page.homepage == true and link_url == '/' %} class="active"{% endif %}>
          <a href="{{ domain }}{{ site.baseurl }}{{ link_url }}">{% t navigation.blog %}</a>
        </li>
        <li class="divider"></li>
        {% assign link_url = "/expat-guide/" %}
        <li{% if link_url == page.url %} class="active"{% elsif page.homepage == true and link_url == '/' %} class="active"{% endif %}>
          <a href="{{ domain }}{{ site.baseurl }}{{ link_url }}">{% t navigation.expatguide %}</a>
        </li>
        <li class="divider"></li>
        {% assign link_url = "/services/" %}
        <li{% if link_url == page.url %} class="active"{% elsif page.homepage == true and link_url == '/' %} class="active"{% endif %}>
          <a href="{{ domain }}{{ site.baseurl }}{{ link_url }}">{% t navigation.services %}</a>
        </li>
        <li class="divider"></li>

        <!-- -> With dropdown -->
        <!-- {% assign link_url = "/contact/" %}
        <li class="has-dropdown{% if link_url == page.url %} active{% endif %}">
          <a href="{{ domain }}{{ site.baseurl }}{{ link_url }}">Contact</a>
            <ul class="dropdown">
              <li>
                <a href="{{ domain }}{{ site.baseurl | append: '/contact1/' }}">Contact 1</a>
              </li>
              <li>
                <a href="{{ domain }}{{ site.baseurl  | append: '/contact2/' }}">Contact 2</a>
              </li>
            </ul>
        </li>
        <li class="divider"></li> -->
      </ul>
    </section>
  </nav>
</div><!-- /#navigation -->
